
    {{!-- <div class="row"> --}}
      <div class="d-flex flex-wrap mt-5">
          <div class="col-12 col-md-6 text-center">
            
           <a style="TEXT-DECORATION: none;COLOR: black;" href="/tutor"> <img src="tutor.png" alt="" style="height: 22rem;width: 50%;" class="img-responsive  img-fluid" id="tutor_img"><br><h1>TUTOR</h1></a>  
         
        </div>


        <div class="col-12 col-md-6 text-center pt-2 mt-3" >
      <h2></h2>
          <a style="TEXT-DECORATION: none;COLOR: black;" href="/student"><img src="222.png" alt="" style="height: 22rem;width: 50%;" class="img-responsive img-fluid" id="tutor_img"><br><h1>STUDENT</h1></a>  
         
        </div>    
      </div>
    
    {{!-- </div> --}}


