
    <div class="row mt-5">
        <div class="col-12 col-md-6 text-center">
           <a href="/tutor"> <img src="tutor.png" alt="" class="img-fluid" id="tutor_img"></a>  
        </div>


        <div class="col-12 col-md-6 text-center mt-5" >
     
          <a href="/student"><img src="222.png" alt="" class="img-fluid" id="tutor_img"> </a>  
        </div>
    </div>


