
    {{!-- <div class="row"> --}}
      <div class="d-flex flex-wrap mt-5">
          <div class="col-12 col-md-6 text-center">
              <h2>TUTOR</h2>
           <a href="/tutor"> <img src="tutor.png" alt="" class="img-responsive  img-fluid" id="tutor_img"></a>  
         
        </div>


        <div class="col-12 col-md-6 text-center pt-2 mt-3" >
      <h2>STUDENT</h2>
          <a href="/student"><img src="222.png" alt="" class="img-responsive img-fluid" id="tutor_img"> </a>  
         
        </div>    
      </div>
    
    {{!-- </div> --}}


