<div class="container">
    <div class="row mx-auto ">
        <div class="col-md-12   mt-5 " style="background: #ffffffad;">
            <h2 style="text-align: center;">Our Mission</h2>
            <p style="text-align: center;">The Indian School, KSA is committed to providing quality
                education with a positive emphasis on character formation, co-operation and quest for excellence. It
                prepares intellectually and emotionally to excel and teaches them to face challenges and
                responsibilities of life. </p>
        </div>
        <div class="col-md-6 border" style="background: #ffffffad;">
            <h3 style="text-align: center;">Annoucemnets</h3>
            {{#each annoucements}}            <ul>
                <li style="margin-left: 49px;"><a style="color: black;"
                        href="t_viewAnnoucementDetails/{{this._id}}">{{this.name}}</a>
                </li>
            </ul>
            {{/each}}


        </div>

        <div class="col-md-6 border " style="background: #ffffffad;">
            <h3 style="text-align: center;">Events</h3>
            {{#each events}}
            <ul>
                <li style="margin-left: 49px;">
                    <a style="color: black;" href="t_loadEvent/{{this._id}}"> {{this.event}}</a>
                </li>
            </ul>


            {{/each}}




        </div>
    </div>

</div>