<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="/222.png" alt="" class="img-fluid" id="tutor_img">
        </div>
        <div class="col-md-6"   style="padding: 67px;" >
           
            <form action="/student/s_verifyPassword" id="OTP" method="post">
                <h2 > Mobile Number Verification</h2>

                <div class="form-row mt-5">
                    <input type="text" name="mob" id="mob" placeholder="Enter mobile Number" required>

                      <button type="submit" class="btn btn-success float-right" id="loginbtn">Send OTP</button>
                </div>
              


            </form>
             <div class="text-danger error">{{otpLoginErr}}</div>
        </div>
    </div>



</div>