<div class="container">
    <h2 class="text-center">Annoucements</h2>
    <div class="row">
     
        <div class="col-md-10 mt-3">
            <table class="table mt-5" id="team-list">
                <thead>
                    <tr>
                        <th scope="col">Sl_no</th>
                        <th scope="col">Date</th>
                        <th scope="col">Message</th>
                       
                    </tr>
                </thead>
                <tbody>
                    {{#each annoucements}}
                    <tr>
                        <td></td>
                        
                        <td>{{formatTime this.createdDate "DD-MMM-YYYY"}} </td>
                        
                        <td>
                            <a style="color: black;" href="s_annoucementDetails/{{this._id}}">{{this.name}}</a>
                           </td>
                       
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>

    </div>
</div>