<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="text-center">Event Paid Successfully</h1>
            <a href="/student/studentHome" class="btn btn-primary"  id="loginbtn">Home</a>
        </div>
    </div>
</div>