<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-center">Cancel the Paypal</h1>
            <a href="/student/studentHome" class="btn btn-primary">Home</a>
        </div>
    </div>
</div>