<div class="container">
    <div class="row mx-auto ">
        <div class="col-md-12 mt-5 " style="background:#ffffffad;">
            <h2 style="text-align: center;">Our Mission</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, ex illo! Nesciunt dolores laborum libero
                unde? Quasi reprehenderit aliquam officiis ex, molestiae laboriosam fugiat! Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Sequi delectus eius ratione atque, alias aut voluptatibus nemo, quisquam
                accusantium quibusdam sapiente qui.</p>
        </div>
        <div class="col-md-6 " style="background:#ffffffad;">
            {{!-- <div class="row"> --}}
                <div style="height: 50vh" class="col-md-12 border border-secondary rounded mt-2">
                    <h3 style="text-align: center;">Annoucemnets</h3>

                    {{#each annoucements}}
                    <ul>
                        <li style="margin-left: 49px;">
                             <a style="color: black;" href="s_annoucementDetails/{{this._id}}">{{this.name}}</a>
                        </li>
                    </ul>


                    {{/each}}

                </div>


                {{!--
            </div> --}}

        </div>
        <div class="col-md-6" style="background: #ffffffad;">
       
               <div style="height: 50vh" class="col-md-12 border border-secondary rounded mt-2">
                    <h3 style="text-align: center;">Events</h3>
                    {{#each events}}
                    <ul>
                        <li style="margin-left: 49px;">
                            <a style="color: black;" href="s_loadEvent/{{this._id}}"> {{this.event}}</a>
                        </li>
                    </ul>


                    {{/each}}
                </div>



           
        </div>
    </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();

    socket.on("sendNotification", function (details) {
       // console.log(details)
        $.notify("New message :\n"+ "Topic :"+ details.name +"\nFile :"+ details.filename + "\n\nFrom: "+ "admin", {
            autoHide: false,
            className: "success"

        })
    })
</script>